<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title> Flask template form</title>

</head>
	<body>
	   <form action="{{ url_for('addrec')}}" method="POST">
		<h3> 學生資訊</h3>
		姓名<br>
		<input type="text" name="nm" /></br>
		地址<br>
		<textarea name="addr" cols="20" rows="1">
		</textarea></br>
		城市<br>
		<input type="text" name="city" /></br>
		郵遞區號<br>
		<input type="text" name="pin" /></br>
		<input type ="submit" value="送出" /><br>
	   </form>
	 </body>
</html>