<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>BMI Advisor: Add a user</title>
</head>

<body>
	<form action="/submit" method="POST">
		<P>姓名 <input type="text" name="name" /></p>
		<P>性別 <input type="radio" name="gender" value="Male" checked>Male</input>
  				<input type="radio" name="gender" value="Female">Female</input>
  				<input type="radio" name="gender" value="Other">Other</input></p>
		<P>身高 (m)<input type="text" name="height" /></p>
		<P>體重 (kg)<input type="text" name="weight" /></p>
		<P><input type="submit" value="送出" /></p>
	</form>
</body>

</html>